<div class="graybox">
  <h2>Ajouter une note</h2>
  <%= simple_form_for [project, note] do |f| %>
    <%= f.association :category, collection: project.categories %>
    <%= f.input :value, collection: (1..10) %>
    <%= f.button :submit, 'Noter' %>
  <% end %>
</div>
