<h1>Bienvenue sur Comment My Projects</h1>
<p>Ce site est un plateforme de discution sur les projects Open-Source où vous pouvez soumettre votre projet et commenter ceux qui sont déjà inscrits.</p>
<p>L'intérêt est de pouvoir améliorer nos projets en créant des discutions pertinantes.</p>
