<div class="row-fluid">
  <div class="span9">
    <%= cache @page do %>
      <%= editable @page do @page.body end %>
    <% end %>
  </div>
  <div class="span3">
    <%= render 'notes/top_projects' %>
    <%= render 'users/top_users' %>
  </div>
</div>
