<% cache actuality do %>
  <div class="span12">
    <div class="graybox">
      <p>
        <%= link_to t('.back_to_project'), project_path(actuality.project) %>
      </p>
      <h1><%= actuality.title %></h1>
      <%= markdown actuality.body %>
    </div>
  </div>
<% end %>
