<% page_title(@actuality.title) %>
<% page_description(@actuality.body) %>
<div class="row-fluid">
  <%= render @actuality %>
</div>
<% if can? :manager, @actuality %>
  <%= render 'actualities/form_action',
             project: @actuality.project,
             actuality: @actuality %>
<% end %>
  <div class="row-fluid">
    <div class="span12">
      <%= render partial: 'comments/comment', collection: @project.root_comments,
                 locals: { item: @actuality, new_comment: @comment } %>
      <%= render 'comments/new', comment: @comment, item: @actuality %>
    </div>
  </div>
