<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <p><%= link_to t('.back_to_project'), project_path(@project) %></p>
      <h1><%= @actuality.title %></h1>
      <%= markdown @actuality.body %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <%= render 'actualities/form_action',
             project: @project,
             actuality: @actuality %>
</div>
