<div class="span12">
  <div class="graybox">
    <h1><%= t('.project_administration') %></h1>
    <div class="form-actions">
      <%= link_to t('.add_a_actuality'),
                  new_project_actuality_path(project),
                  class: 'btn' %>
      <%= link_to t('shared.update'), edit_project_path(project), class: 'btn' %>
      <%= link_to t('shared.delete'),
                  project_path(project),
                  method: 'delete',
                  data: { confirm: t('shared.are_you_sure') },
                  class: 'btn btn-danger' %>
    </div>
  </div>
</div>
