<ul class="nav nav-tabs">
  <% @project.category_projects.each_with_index do 
              |category_project, index| %>
    <li <%=raw 'class="active"' if index == 0%>>
      <%= link_to category_project.category,
                  "##{category_project.category}",
                  data: { toggle: 'tab' } %>
    </li>
  <% end %>
</ul>
