<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <% cache project do %>
        <%= project_title_for(project) %>
        <div id="tag_list">
          <%= raw(tags_for(project)) %>
        </div>
        <hr/>
        <%= markdown(project.description) %>
      <% end %>
      <% if current_user %>
        <%= render 'project_user_followers/actions', project: project %>
      <% end %>
    </div>
  </div>
</div>
