<table id="projects"
       class="table table-striped table-bordered"
       data-source="<%= projects_url(format: "json")%>">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.url') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<h3><%= link_to t('projects.advanced_search.advanced_search'), "projects/advanced_search" %></h3,
