<table class="table table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
