<table id="projects"
       class="table table-striped table-bordered"
       data-source="<%= projects_url(format: "json")%>">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Url</th>
      <% Category.all.each do |category| %>
        <th width="20"><%= category %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
