/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/datatables/
 *= require bootstrap
 *= require bootstrap_and_overrides
 *= require markdown
 *= require datatables
 *= home
 */
form textarea {
  width: 100%;
}

.comment_header .avatar {
  float:left;
  margin-right: 10px;
  width: 66px;
  height: 66px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding: 2px;
}
