<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué a cause d'un nombre trop grand de tentative de connexion.</p>

<p>Cliquez sur le lien suivant pour débloquer votre compte:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
